* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input {
  font-family: 'Roboto', sans-serif;
  font-size: .938rem;
}

body {
  margin: 0;
  background-color: hsl(0, 0%, 99%);
  color: hsl(0, 0%, 35%);
  /*For animation dark mode*/
  transition: .4s;
}

h1, h2, h3, h4 {
  color: hsl(0, 0%, 35%);
  font-weight: 500;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

/*================Collection==============*/

.containerr {
  row-gap: 2.5rem;
  
}
.collection-card {
  position: relative;
  height: 350px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-block: 45px 25px;
}
.collection-card {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.collection-card h2 {
  color: white;
}

.containerr_card {
  position: relative;
  height: 20rem;
}
.containerr { padding-inline: 15px; }

.containerr {
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap; 
}

.conatinerr__card {
  flex-basis: calc(25% - 10px); 
}

.section__title{
  margin-left: 20px;
}


/*=============== FEATURED ===============*/
.featured__container {
  row-gap: 2.5rem;
  
}

.featured__card {
  position: relative;
  text-align: center;
  background-color: #fff;
  padding-top: 2rem;
  border: 1px solid hsl(0, 0%, 94%);
  overflow-y: hidden;
  transition: .3s;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1); 
}

.featured__tag {
  background-color: hsl(0, 90%, 50%);
  padding: .5rem 1rem;
  color: #fff;
  text-transform: uppercase;
  font-size: .813rem;
  font-weight: 500;
  position: absolute;
  transform: rotate(-90deg);
  left: -1rem;
  top: 3rem;
}

.featured__img {
  height: 214px;
  margin-bottom: 1rem;
}

.featured__title, 
.featured__price {
  font-size: 1.25rem;
  font-weight: 700;
}

.featured__title {
  text-transform: uppercase;
  margin-bottom: .75rem;
}

.featured__price {
  display: block;
  color: black;
  transition: .3s;
}

.featured__button {
  font-size: .813rem;
  transform: translateY(1rem);
  opacity: 0;
}

.featured__card:hover {
  box-shadow: 0 12px 32px hsla(0, 0%, 20%, .1);
  padding: 2rem 0 3rem 0;
}

.featured__card:hover .featured__button {
  transform: translateY(0);
  opacity: 1;
}

.featured__card:hover .featured__price {
  margin-bottom: 1.5rem;
}

.featured__container {
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap; 
}

.featured__card {
  flex-basis: calc(25% - 10px); 
}


/*=============== PRODUCTS ===============*/
.products__container {
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.products__card {
  position: relative;
  background-color: #fff;
  padding: 1.25rem 0;
  border: 1px solid hsl(0, 0%, 94%);
  text-align: center;
  transition: .3s;
  border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); 
}

.products__img {
  height: 125px;
  margin-bottom: 1rem;
}

.products__title, 
.products__price {
  font-size: .813rem;
  font-weight: 500;
}

.products__title {
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

.products__price {
  color: black;
}

.products__button {
  background-color: hsl(0, 0%, 17%);
  padding: .4rem;
  color: #fff;
  font-size: 1rem;
  position: absolute;
  right: 0;
  bottom: 0;
  transition: .3s;
}

.products__button:hover {
  background-color: hsl(0, 0%, 21%);
}

.products__card:hover {
  box-shadow: 0 8px 32px hsla(0, 0%, 10%, .1);
}

.featured__button {
  background-color: black;
  color: white;
  width: 150px;
  height: 50px;
}

.products__container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
}
